.cus-bg-1{
  background-color: #478193;
}

.cus-bg-2{
  background-color: #478193d4;
}

.cus-text-1{
  color: #478193;
}
 .cus-text-2{
  color: #478193d4;
 }
.cus-img{
  height: 206px !important;
  width: 100% !important;
}